@page "/"

<PageTitle>Index</PageTitle>

@using Beanstalk.Frontend.Data
@inject PlantServiceClient PlantServiceClient

<h1>Plants</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (plants == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var plant in plants)
        {
            <tr>
                <td>@plant.PlantId</td>
                <td>@plant.Name</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<Plant>? plants;

    protected override async Task OnInitializedAsync()
    {
        plants = await PlantServiceClient.GetPlantsAsync();
    }

}